body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Change scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #888;
}